body {
  font-family: "poppins" , sans-serif!important;
  overflow: hidden;
  color: #000000;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: calc(0.4em + 1vw);
  margin: 0 !important;
  font-weight: 500;
  line-height: 1.2;
}

p {
  font-size: calc(0.3em + 1vw);
  font-weight: 300;
  line-height: 1.5;
  margin: 0 !important;
  overflow-wrap: break-word;
  overflow: hidden;
}

.newMessage {
  padding: 0.4em;
  font-size: xx-small;
  background-color: green;
  border-radius: 1em;
  color: #ffffff;
}

.last {
  width: 65%;
  overflow: hidden;
}

.input-chat {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  resize: none;
  border: 1px solid #bfbfbf;
  font-family: inherit;
}

.btn-c {
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  background-color: #ffffff;
}

.btn-color{
  color: #e22b5e;
  font-weight: bold;
}




.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-img {
  padding-left: 0.3em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.div_messages {
  display: flex;
  width: auto;
  max-width: 80%;
  flex-direction: column;
  padding: 0.4em;
  background-color: #ffffff;
  border-radius: 0.3em;
  border: 1px solid #ced4da;
}


.message-check-read {
  align-self: self-end;
}

.messages_simple_left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 0.2rem;
  padding-left: 2rem;
  min-height: 40px;
}

.messages_simple_right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  padding: 0.2rem;
  padding-right: 2rem;
  min-height: 40px;
}



.div_grande {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.chat {
  position: absolute;
  top: 0;
  left: var(--nav-width);
  display: flex;
  height: 100%;
  width: calc(100% - var(--nav-width));
}

.chat-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fafbfd;
  padding: 2em;
}

.list-people {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-right: 1em;
}

.list-chat {
  height: 100%;
  overflow-y: auto;
}

.chat-simple {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5em;
  border-bottom: 1px solid #bfbfbf;
}



.list-messages {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  border-radius: 1em;
}

.chat-header2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 10%;
  padding: 0.2rem;
  border-bottom: 1px solid #bfbfbf;
}

.chat-body {
  height: 70%;
  overflow-y: scroll;
}

.chat-messages {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-input {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 20%;
  padding: 1em 1.5em 1em 1.5em;
}



.simple-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
}

.check-view {
  font-weight: 400;
  font-size: large;
}

.message-check-read--noRead {
  color: #38373c;
  font-weight: bold;
}

.message-check-read--isRead {
  color: #2be241;
  font-weight: bold;
}

@media (max-width: 900px) {
  .chat-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 3.4fr;
    padding: 0.5em;
  }
  .list-people {
    padding: 0;
  }
}


.chat-text {
  overflow-wrap: unset;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.chat-body::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.chat-body::-webkit-scrollbar-thumb {
  background-color: #e22b5e;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.chat-body::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.chat-body::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.chat-body::-webkit-scrollbar-track {
  background: #cacaca;
  border-radius: 4px;
}




.div-temporal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../img/new_chat.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.div-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.active-chat {
  background-color: #e22b5e;
  border-radius: 0.2em;
  color: white;
}



textarea:focus {
  border: 1px solid #858588;
  outline: 0 none;
}

