/*#region COLORS*/
:root {
    --violeta: #885FFF;
    --violeta-oscuro: #280886;
    --gris-claro: #ECECEC;
    --gris-oscuro: #525252;
}
/*#endregion */

#Container-Dates
{
    margin-top: 2rem;
}

/*#region PROFILE CARD*/
div.Profile-Card
{
    display: grid;
    position: relative;
    text-align: center;
    background-size: cover;
    background-size: center center;
    width: 220px;
    height: 320px;
    gap:20px;
    align-items: center;
    left:25%;
}

div.div-click-profile
{
    display: grid;
    position: relative;
    text-align: center;
    background-size: cover;
    background-size: center center;
    width: 220px;
    height: 320px;
    gap:20px;
    align-items: center;
}

img#PhotoProfile
{
    position:absolute;
    width: 220px;
    height: 320px;
    border-radius: 7px;
    border-color: #87009D;

}


button.button-class-date
{
    top:275px;
    background-color: #87009D;
    position: absolute;
    width: 220px;
    height: 45px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    box-shadow: 0px 5px 3px #adadad;
    border-style: solid;
    border-width: 1px;
}

button.button-class-date:active 
{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button.button-class-date:hover
{
    cursor: pointer;
} 


#Shadow-Name-Profile
{
    top:230px;
    position: absolute;
    width: 220px;
    height: 45px;
    background-color:rgba(0,0,0, 25%);
    border-radius: 5px;
}


#Name-Profile
{
    position:absolute;
    height: 45px;
    width: 220px;
    top:5px;
    font-size: 25px;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}
/*#endregion*/


/*#region DATES CARD*/
.dateDetail {
    border: 1px solid var(--gris-claro);
    border-radius: 4px;
    padding: 20px;
    max-width: 1100px; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: transform 0.3s;
}
.dateDetail:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}

.dateDetail_content_user img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.dateDetail_content_user {
    display: grid;
    place-items: center;
    text-align: center;
}
.dateDetail_content_detail{
    margin-top: 3rem;
}
.dateDetail__button button {
    background-color: var(--violeta);
    padding: 0.4rem 1rem;
    border: none;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: background-color 1s;
}
.dateDetail__button button:hover {
    background-color: var(--violeta-oscuro);
    transition: background-color 1s;
}
  
.dateDetail_status h4 {
    padding-top: 2rem;
    padding-right: 2rem;
    font-size: 16px;
    margin: 10px;
    color: var(--violeta-oscuro);
    text-align: right;
}
  
.dateDetail_content_map img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
/*#endregion*/

