:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #8d2ce2;
    --first-color-light:  #9d3ee6;
    --first-color-light-nav:  #d8cefa;
    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-like{    
    flex-direction: column;    
    height: 100vh;
    background: -webkit-linear-gradient(0deg , var(--first-color-light-nav),var(--first-color-light));
}

.container-data{
    flex-direction: column;
    height: 100vh;
}

.container-photo{
    width: 100%;
    height: 70%;
    padding: 0 5vw;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(0deg , var(--first-color),var(--first-color-light));
    color: white; 
    font-size: 2vw;
    border-radius: 1vw;   
    margin-right: 15px;
    height: 70%;
}

.info-data{
    flex-direction: column;
    align-items: start;
    height: 90%;
}

.info-data>p{
    font-size: 1.5vw;
    justify-content: start;
    align-items: start;
    text-align: start;
    font-weight: 600;
    margin-bottom: 1%;
    text-shadow: 1px 2px 6px  rgba(0, 0, 0, 0.5);
}

.info-data>p>strong{
    font-weight: 300;
}

.photo-match{
    max-width: 100%;
    min-width: 90%;
    height: 100%;
    border-radius: 1vw;    
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
    /* border: 1px solid var(--first-color); */
    position: relative;
}

.photo, .carousel, .carousel-inner, .carousel-item{
    width: 100%;
    height: 100%;
    border-radius: 1vw; 
    object-fit: cover;   
    object-position: 0 50;
}

.choice-button{
    opacity: 0.8;
    position:absolute;
    bottom:0;
    margin: 10% 15%;
    z-index:3;
    width: 15%;
    height: 15%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
}


.like-animation{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.show-animation{
    visibility: visible;
    animation: show 2s;
}

.btnLike {    
    right:0;
}

.btnDislike {
    left:0;
}

.btnLike:hover, .btnDislike:hover{
    opacity: 0.5; 
}

#btn-match{
    display: none;
}

#empty-suggestions{
    background: -webkit-linear-gradient(0deg , var(--first-color-light-nav),var(--first-color-light));
    display: none;
    padding: 10% 25%;
    text-align: center;
    text-shadow: 1px 2px 6px  rgba(0, 0, 0, 0.5); 
    height: 100vh;
}

#empty-suggestions>h1{ 
    background-color: var(--first-color);
    padding: 10%; 
    color: white; 
    font-size: 2vw;
    border-radius: 1vw;    
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--first-color);
}

.carousel-inner> .active::before, .carousel-indicators> .active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0)!important;
}

.carousel-control-prev, .carousel-control-next{
    padding: 40% 0;
}

.carousel-indicators{
    margin-bottom: 0.25rem;
    height: 5%;
}

.logo-data {
    width: 100%;
    padding: 10px;
    height: 10%;
}

.img-logo-data{
    width: 3vw;
    height: 3vw;
}

.match-detalle, .modal-body{
    width: 100%;
    height: 100%;
}

.match-imagen{
    width: 100%;
}

#modalMatchBody{
    padding: 0px;
}

.modal-header, .modal-body{    
    background: -webkit-linear-gradient(0deg , var(--first-color),var(--first-color-light));
    color: white;
}

.match-data{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0px;
}

.modal-title{
    width: 100%;
    text-align: center;
}

.match-nombre-container{
    width: 100%;
    height: 20%;
    color: var(--first-color);
    background-color: white;
    border-radius: 10px;
}

.match-hablar{
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: white;
    color: var(--first-color);
    padding: 16px;
    color:  var(--first-color);
}

.match-hablar:hover{
    background-color: var(--first-color);
    color: white;
}

@media (max-width: 480px) { 

    .container-like, .container-data{
        height: 100%;
        min-height: 50vh;
    }

    #container-data{
        padding: 0;
    }

    .container-photo{
        height: 100%;
        padding: 5%;
    }

    .container-suggestion{
        width: 100%;
        height: 100%;
        min-height: 50vh;
    }

    .info-data>p{
        font-size: 1rem;
    }

    .img-logo-data {
        width: 10vw;
        height: 10vw;
    }
    .row{
        margin:0;
    }

    .nav{
        height:60%;
    }
    
    #empty-suggestions{
        padding: 5px;
        margin: 0;
        font-size: 1rem;
    }

    #empty-suggestions>h1{
        font-size: 1rem;
    }

    .data{
        margin: 0;
        background: white;
        color: var(--first-color);
    }

    .logo-data{
        background-color: var(--first-color-light-nav);
        border-radius: 5px;
        margin-bottom: 10px;
        width: 30%;
    }
}

.spinner-container{
    position: absolute;    
    width: 100vw;
    height: 100vh;
    z-index: 999;
    opacity: 1;
    background-color: var(--first-color-light-nav);
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.spinner-border {
    position: absolute;
    left: 45%;
    top: 45%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
 }
 
 .spinner-hidden{
    visibility: hidden;
    z-index: 999;
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
 }

 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }

@keyframes show { 
    0% {
      opacity: 0;
      top: 5%;
    }

    50% {
      opacity: 0.4;
      top: 0%;
    }
  
    100% {
      opacity: 0;
      top: -5%;
    }
  }