
/* Colores */
:root {
	--violeta: #885FFF;
	--violeta-oscuro: #280886;
	--gris-claro: #ECECEC;
	--gris-oscuro: #525252;
}

/* Estilos generales */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Body */
body {
	margin: 0;
	padding: 0;
	background-color: var(--gris-claro);
	color:white;
	height: 100vh;
	width: 100vw;
}

/* Flex container */
.flex-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.title{
	color: var(--violeta);
}

/* Section Info */
#section__info {
	width: 40%;
	height: 100%;
	background-color: var(--violeta);
}

#info__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 8vw;
}

#section__info img{
	max-width: 195px;
	max-height: 197px;
	margin: auto;
}

#section__info p{
	margin: 4vw;
	font-size: 1.5vw;
}

/* Section Login */
#section__login {
	width: 60%;
	text-align: center;
	align-items: center;
	background-color: white;
}

#login__content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background-color: var(--violeta); */
}

#login__form {
	background-color: white;
	margin: 4vw;
	border: 3px solid black;
	border-radius: 25px;
	width: 20vw;
	height: 20vw;
	text-align: left;
}

#form__content {
	display: flex;
	flex-direction: column;
	margin: 1vw 1vw;
}

input {
	background-color: var(--gris-claro);
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	padding: 0.5vw 1vw;
	margin: 1vw 0;
	display: inline-block;
	box-sizing: border-box;
}

#btn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form__content #btn button {
	background-color: var(--violeta);
	height: 2.5vw;
	width: 60%;
	margin: 2vw;
	border-radius: 25px;
	border: 2px solid var(--violeta);
	color: white;
	transition-duration: 0.4s;
	font-size: 18px;
	cursor: pointer;
}

#form__content #btn button:hover {
	background-color: #280886;
	color:white;
}

#register_lbl {
	color: var(--gris-oscuro);
}








