:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color :#885FFF;
  --first-color-light:  #A386FF;
  --first-color-light-nav:  #d8cefa;
  --white-color: #f7f6fb;
  --body-font: "poppins" , sans-serif !important;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
/* Colores */
:root {
--violeta: #885FFF;
--violeta-oscuro: #280886;
--gris-claro: #ECECEC;
--gris-oscuro: #525252;
}

*,
::before,
::after {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  margin: 0 0 0 var(--nav-width);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

.nav_name{
  display: flex;
  flex-direction: row;
  gap: 5PX;
}

.menu_toggle {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--white-color);
  font-size: 1.25rem;
  cursor: pointer;
  gap: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border-bottom: 1px solid #616060;
}

.header_user{
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--white-color);
  font-size: 1.25rem;
  gap: 1.5rem;
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.header_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.header_img-large {
  width: 100px;
  height: 100px;
  margin-top: 0.5rem;
}

.column {
 flex-direction: column;
 gap: 0;
 padding: 0.5rem 0 0.5rem 0;
}

.header_name {
  width: 190px;
  font-size: 1rem;
  color: var(--first-color-light-nav);
  transition: 0.3s;
  margin: 1rem;-webkit-transition-duration: 0.8s; /* Safari */
  transition-duration: 0.8s;
  text-align: center;
}


.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100%;
  background-color: #6e22b5;
  padding: 0 0.3rem 0 0.3rem;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 80%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-top: 1px solid #616060;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.nav_link {
  position: relative;
  font-size: 1.25rem;
  color: var(--first-color-light-nav);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

#nav-bar.show {
  width: calc(var(--nav-width) + 180px);
  left: 0;
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}


