.form-container-two {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  height: 70%;
}

.user__photos {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
  height: 100%;
  width: 100%;
  padding-right: 5px;
}

.user_photo_cont {
  min-height: 150px;
  background-color: var(--first-color);
  border-radius: 10px;
  display: flex;
  position: relative;
}

.drag__container {
  cursor: pointer;
}

.drag__container.over {
  border: 2px dotted black;
}

.drag__img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  padding: 0;
}

.btn_delete {
  height: min-content;
  width: min-content;
  background: rgb(196, 15, 15);
  z-index: 2;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: none;
}

/* Botón Add */
.btn_add_container {
  background-color: var(--first-color);
  object-fit: cover;
}

.btn_add {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: var(--first-color);
  padding: 0;
  margin: 0;
}

.input_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.input_file {
  display: none;
}

.btn_add_icon {
  color: White;
  font-size: 128px;
  position: relative;
  margin: 5rem 0 0 0;
}

#add_lbl {
  color: white;
  font-size: 1.3rem;
}

#resp_msj_photo {
  color: #41BC02;
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 0.3;
  display: none;
}



.user__photos::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.user__photos::-webkit-scrollbar-thumb {
  background-color: #8a2be2;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.user__photos::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.user__photos::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.user__photos::-webkit-scrollbar-track {
  background: #cacaca;
  border-radius: 4px;
}

