
.form-container{
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  width: 100%;
  height: 70%;
  overflow:hidden;
  padding-bottom: 0.5em;
}

/*preferencias generales*/
.pref_gen_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.range-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
  
.genero-container { 
  display: flex;
  flex-direction: column;
  height: min-content;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.3vw 0.5vw;
  font-size: 0.7em;
  background-color: var(--gris-claro);
}

.genero-container--input {
  display: flex;
  align-items: center;
  width: 30%;
}

.crush_gender{
  width: auto;
}

/*intereses*/
.pref_interest_container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: start;
  gap: 5px;
  padding-left: 1em;
  overflow: hidden;
}

.section-interest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pref_container{
  overflow-y: auto;
  height: 100%;
  width: 100%; 
  padding-right: 0.3em;
}




.interest_cat {
  font-size: 15px !important;
  color: white;
  text-align: center;
  background-color: var(--first-color);
  border-radius: 5px;
}

.interests_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.interest_item {
  font-size: 0.8em;
  text-decoration: none;
  outline: none;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  margin: 0 .5em 1em 0;
  padding: 0.25em;
  color: black;
  background-color: white;
}

.interest_item:hover {
  background-color: var(--first-color);
  color: white;
  cursor: pointer;
}

.interest_item_sel {
  background-color: var(--first-color);
  color: white;
}

.input-checkboxes{
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .body-main{
    height: 95%;
    width: 95%;
  }

  p{
   font-size: 0.8em;
  } 

  h4{
    font-size: 0.8em;
  }

}


.pref_container::-webkit-scrollbar {
  width: 5px;
  /* Tamaño del scroll en vertical */
  height: 5px;
  
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.pref_container::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.pref_container::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.pref_container::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.pref_container::-webkit-scrollbar-track {
  background: #cacaca;
  border-radius: 4px;
}
