form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1em;
}

/* Modal 1 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
}

.modal__container {
    width: 90%;
    background-color: var(--blanco-rosa);
    max-width: 300px;
    max-height: 90%;
    margin: auto;
    border-radius: 6px;
    padding: 1em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    border: 1px solid var(--first-color);
}



.div__passwd {
    display: grid;
    row-gap: 0.1em;
    place-items: center start;
    grid-auto-columns: 100%;
}

.modal__paragraph {
    margin-bottom: 10px;
    width: 500px;
}

#btn_change_passwd {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--blanco-rosa);
    background-color: var(--first-color);
    padding: 0.5em 0.5em;
    border: 1px solid var(--first-color);
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    cursor: pointer;
}

#btn_change_passwd:hover {
    background-color: var(--violeta-oscuro);
}


.modal__close {
    text-decoration: none;
    color: black;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.div__passwd p {
    margin: 0;
}

.passwd_input {
    background-color: var(--gris-claro);
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 0.5vw 1vw;
    /*margin: 1vw 0;*/
    /*margin: 0.5rem 0 1rem 0;*/
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

/* Modal 2*/
.modal_2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.modal--show-2 {
    opacity: 1;
    pointer-events: unset;
}

.modal__container_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 90%;
    gap: 5px;
    background-color: var(--blanco-rosa);
    margin: auto;
    border-radius: 0.5em;
    padding: 1em;
    padding-bottom: 2em;
    border: 1px solid var(--first-color);
    text-align: center;
    overflow: hidden;
}


.interest_cat {
    margin: 1em 0;
}

.interests_container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.interest_item {
    text-decoration: none;
    outline: none;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    margin: 0 1em 1em 0;
    padding: 0.5em;
    color: black;
    background-color: white;
}

.interest_item:hover {
    background-color: var(--first-color);
    color: white;
}

.interest_item_sel {
    background-color: var(--first-color);
    color: white;
}

/* Modal 3 */
.modal_3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.modal--show-3 {
    opacity: 1;
    pointer-events: unset;
}

.modal__container_3 {
    width: 50%;
    background-color: var(--blanco-rosa);
    max-height: 90%;
    margin: auto;
    border-radius: 0.5em;
    padding: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--first-color);
    text-align: center;
    overflow: hidden;
}

.interest_other_item {
    text-decoration: none;
    outline: none;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    margin: 0 1em 1em 0;
    padding: 0.5em;
    color: black;
    background-color: white;
}

.interest_other_item:hover {
    background-color: var(--first-color);
    color: white;
}

.interest_item_sel_other {
    background-color: var(--first-color);
    color: white;
}

/* gral modales */
.btn_close_gral {
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.span-close {
    background: rgb(196, 15, 15);
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 15px !important;
    margin: 0;
    padding: 0.4em;
}



.pref_container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
}

.pref_container_other{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
}




.pref_container::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.pref_container::-webkit-scrollbar-thumb {
    background-color: #8a2be2;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.pref_container::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.pref_container::-webkit-scrollbar-thumb:active {
    background-color: #666666;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.pref_container::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 4px;
}


.pref_container_other::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.pref_container_other::-webkit-scrollbar-thumb {
    background-color: #8a2be2;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.pref_container_other::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.pref_container_other::-webkit-scrollbar-thumb:active {
    background-color: #666666;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.pref_container_other::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 4px;
}