/* Colores */
:root {
    --violeta: #885FFF;
    --violeta-transparente: rgb(135, 94, 255, 0.3);
    --violeta-claro: rgb(135, 94, 255, 0.6);
    --violeta-rojizo: #9747FF;
    --bordo: #9B12A7;
    --rosa: #d23bdf;
    --rojo: #dc3545;
    --rojo-oscuro: #bb2d3b;
    --negro-mate: #282728;
    --violeta-oscuro: #280D4A;
    --blanco-rosa: #FDF9FF;
    --pop: 'Poppins', sans-serif;
    --gris-oscuro: #525252;
    --violeta-nuevo: #8a2be2;
    --violeta-nuevo-oscuro: #6e22b5;

    --first-color: #8a2be2;
    --second-color: #6e22b5;
    --gris-claro: #ececec;
    --gris-border: #c0c0c0;

}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    height: 100vh;
    background-color: var(--blanco-rosa);
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--gris-claro);
}


p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: calc(0.3em + 1vw);
}


.body-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 90%;
    gap: 5px;
    overflow: hidden;
}

.section-one {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    grid-template-areas:
        "name     genero"
        "buscar   cuenta"
        "buscar   sobre"
        "buscar   sobre"
        "buscar   modal";
}

#title__name {
    grid-area: name;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    padding: 0;
    color: white;
    box-shadow: none;
    font-size: 1em;
}

#title__name_two {
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    padding: 0;
    color: white;
    box-shadow: none;
    font-size: 1em;
}

#item_1 {
    grid-area: buscar;
    padding-bottom: 1.8em;
}

#item_2 {
    grid-area: sobre;
}

#item_3 {
    grid-area: genero;
    display: block;
    font-size: 1em;
}

#item_4 {
    grid-area: cuenta;
}

#item_5 {
    grid-area: modal;
}


.info__div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1em;
    border: 1px solid var(--gris-border);
    border-radius: 0.5em;
    background-color: white;
}

.info__div_photos {
    display: grid;
    grid-template-rows: 3fr 0.15fr;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 1em;
    border: 1px solid var(--gris-border);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
}




.section-two {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 65%;
    height: 100%;
    gap: 5px;
}

.genero-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.6vw 1vw;
    justify-content: space-between;
}

.genero-input-two {
    margin-top: 1em;
}

.range-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
}

.msj_container{
    height: 100%;
}

#resp_msj_photo {
    color: #41BC02;
    margin: 0;
    font-size: 0.7em;
    display: none;
  }






.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.btn_general_style {
    width: 100%;
    margin-top: 1em;
    background-color: var(--first-color);
    padding: 0.2em 0.2em;
    border-radius: 6px;
    border: 1px solid var(--first-color);
    color: white;
    cursor: pointer;
}

.btn_general_style:hover {
    background-color: #280886;
    color: white;
}


/* SECTION: USER PHOTOS */

.section_1 {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
}


/* User Photo container */

.user__photos {
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    height: 100%;
    width: 100%;
    padding-right: 5px;
}

.user_photo_cont {
    min-height: 150px;
    background-color: var(--first-color);
    border-radius: 10px;
    display: flex;
    position: relative;
}

.drag__container {
    cursor: pointer;
}

.drag__container.over {
    border: 2px dotted black;
}

.drag__img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    padding: 0;
}

.btn_delete {
    height: min-content;
    width: min-content;
    background: rgb(196, 15, 15);
    z-index: 2;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: none;
}

.icono-delete {
    font-size: 15px !important;
    margin: 0;
    padding: 0.4em;
}


/* Botón Add */
.btn_add_container {
    background-color: var(--first-color);
    object-fit: cover;
}

.btn_add {
    appearance: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--first-color);
    padding: 0;
    margin: 0;
}

.input_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.input_file {
    display: none;
}

.btn_add_icon {
    color: White;
}

#add_lbl {
    color: white;
    font-size: 1.3rem;
}



/* Save btn Container (Eliminado) */
.save_btn_container {
    margin: auto;
}

.save_btn {
    background-color: var(--first-color);
    height: 2.5vw;
    width: 60%;
    margin: 2vw;
    border-radius: 25px;
    border: 2px solid var(--first-color);
    color: white;
    transition-duration: 0.4s;
    font-size: 18px;
    cursor: pointer;
}

.save_btn:hover {
    background-color: #280886;
    color: white;
    border: 2px solid #280886;
}


/* SECTION: USER INFO */

.section_2 {
    background-color: var(--blanco-rosa);
    width: 30%;
}





#user__input {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    resize: none;
    border: 1px solid #bfbfbf;
    font-family: inherit;
}

.input-range {
    cursor: pointer;
    border: none;
    background-color: var(--gris-claro);
    box-shadow: none;
    padding: 0.5vw 1vw;
    width: 100%;
}

@media (max-width: 1150px) {
    .body-container {
        height: 100%;
        width: 100%;
        padding: 0.5em;
    }
    .section-two {
        grid-template-rows: 1fr 3.9fr;
    }
    p{
        font-size: 0.9em;
    }
    h3{
        font-size: 0.9em;
    }
}

@media (max-width: 900px) {
    .body-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0.5em;
        overflow: auto;
    }
    .section-two {
        width: 100%;
    }
    p{
        font-size: 0.9em;
    }
    h3{
        font-size: 0.9em;
    }
}


.user__photos::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
  }
  
  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  .user__photos::-webkit-scrollbar-thumb {
    background-color: #8a2be2;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  .user__photos::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  .user__photos::-webkit-scrollbar-thumb:active {
    background-color: #666666;
  }
  
  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  .user__photos::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 4px;
  }
  
  