/* Colores */
:root {
    --violeta: #885FFF;
    --violeta-claro: rgb(135, 94, 255, 0.6);
    --violeta-rojizo: #9747FF;
    --bordo: #9B12A7;
    --rosa: #d23bdf;
    --negro-mate: #282728;
    --violeta-oscuro: #280D4A;
    --blanco-rosa: #FDF9FF;
    --pop: 'Poppins', sans-serif;
}

/* Estilos generales */
*{
	margin: 0;
	padding: 0;
}

/* BODY */

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--violeta-claro);
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
}

#user_page_main {
    margin: 0;
	padding: 0;
}

/* SECTION: USER PHOTOS */

.user__photos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-content: space-around;
}

.drag__container {
    width: 206px;
    height: 250px;
    background-color: var(--blanco-rosa);
    border: 2px dashed black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag__img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* SECTION: USER INFO */

.user__info {
    background-color: var(--blanco-rosa);
    width: 30%;
    color: var(--violeta-oscuro);
    display: grid;
    grid-template-columns: auto;
    font-family: var(--pop);
}

#title__name {
    text-align: center;
}

.info__div {
    padding: 0 0 0 20px;
}

/* Footer */
footer {
    background-color: var(--negro-mate);
    color: white;
}