/* Colores */
:root {
    --violeta: #885FFF;
    --violeta-transparente: rgb(135, 94, 255, 0.3);
    --violeta-claro: rgb(135, 94, 255, 0.6);
    --violeta-rojizo: #9747FF;
    --bordo: #9B12A7;
    --rosa: #d23bdf;
    --rojo: #dc3545;
    --rojo-oscuro: #bb2d3b;
    --negro-mate: #282728;
    --violeta-oscuro: #280D4A;
    --blanco-rosa: #FDF9FF;
    --pop: 'Poppins', sans-serif;
    --gris-oscuro: #525252;
    --violeta-nuevo: #8a2be2;
    --violeta-nuevo-oscuro: #6e22b5;

    --first-color: #8a2be2;
    --second-color: #6e22b5;
    --gris-claro: #ececec;
    --gris-border: #c0c0c0;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    height: 100vh;
    background-color: var(--blanco-rosa);
}

/* MAIN */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--gris-claro);
}


p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: calc(0.3em + 1vw);
}


.body-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 90%;
    gap: 5px;
    overflow: hidden;
}

.section-one {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    grid-template-areas:
        "name     genero"
        "buscar   cuenta"
        "buscar   sobre"
        "buscar   sobre"
        "buscar   modal";
}



/*****  Titulo - Seccion de fotos del usuario *****/
#title__name_two {
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    padding: 0;
    color: white;
    box-shadow: none;
    font-size: 1em;
}

.section-two {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 65%;
    height: 100%;
    gap: 5px;
}

.info__div_photos {
    display: grid;
    grid-template-rows: 3fr 0.15fr;
    width: 100%;
    height: 100%;
    gap: 5px;
    padding: 1em;
    border: 1px solid var(--gris-border);
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
}

.msj_container {
    height: 100%;
    width: 100%;
}

#response__msj {
    color: #41BC02;
    margin: 0;
    font-size: 0.7em;
    display: none;
}

#resp_msj_photo {
    color: #41BC02;
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: 0.3;
    display: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

/* User Photo container */
.user__photos {
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    height: 100%;
    width: 100%;
    padding-right: 5px;
}

@media (max-width: 1150px) {
    .body-container {
        height: 100%;
        width: 100%;
        padding: 0.5em;
    }

    .section-two {
        grid-template-rows: 1fr 3.9fr;
    }

    p {
        font-size: 0.9em;
    }

    h3 {
        font-size: 0.9em;
    }
}

@media (max-width: 900px) {
    .body-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0.5em;
        overflow: auto;
    }

    .section-two {
        width: 100%;
    }

    p {
        font-size: 0.9em;
    }

    h3 {
        font-size: 0.9em;
    }
}
