

.user__photos::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.user__photos::-webkit-scrollbar-thumb {
    background-color: #8a2be2;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.user__photos::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.user__photos::-webkit-scrollbar-thumb:active {
    background-color: #666666;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.user__photos::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 4px;
}