
/* Modal 1 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
}

.modal__container {
    width: 90%;
    background-color: var(--blanco-rosa);
    max-width: 300px;
    max-height: 90%;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    border: 1px solid var(--first-color);
}

.grid_modal {
    display: grid;
    gap: 1em;
    place-items: center start;
    grid-auto-columns: 100%;
}

.div__passwd {
    display: grid;
    row-gap: 0.1em;
    place-items: center start;
    grid-auto-columns: 100%;
}

.modal__paragraph {
    margin-bottom: 10px;
    width: 500px;
}

#btn_change_passwd {
    text-decoration: none;
    color: var(--blanco-rosa);
    background-color: var(--first-color);
    padding: 1em 3em;
    border: 1px solid var(--first-color);
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

#btn_change_passwd:hover {
    background-color: var(--violeta-oscuro);
}


.modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--blanco-rosa);
    background-color: var(--rojo);
    padding: 0.2em;
    border: 1px solid var(--rojo);
    border-radius: 6px;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover {
    color: var(--blanco-rosa);
    background-color: var(--rojo-oscuro);
}

.div__passwd p {
    margin: 0;
}

.passwd_input {
    background-color: var(--gris-claro);
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 0.5vw 1vw;
    /*margin: 1vw 0;*/
    /*margin: 0.5rem 0 1rem 0;*/
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
}

/* Modal 2*/
.modal_2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.modal--show-2 {
    opacity: 1;
    pointer-events: unset;
}

.modal__container_2 {
    width: 50%;
    background-color: var(--blanco-rosa);
    max-height: 90%;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    border: 1px solid var(--first-color);
    text-align: center;
    overflow-y: scroll;
}

.grid_modal_2 {
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.interest_cat {
    margin: 1em 0;
}

.interests_container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.interest_item {
    text-decoration: none;
    outline: none;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    margin: 0 1em 1em 0;
    padding: 0.5em;
    color: black;
    background-color: white;
}

.interest_item:hover, .interest_other_item:hover {
    background-color: var(--first-color-light);
    color: white;
    cursor: pointer;
}

.interest_item_sel {
    background-color: var(--first-color);
    color: white;
}

/* Modal 3 */
.modal_3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.modal--show-3 {
    opacity: 1;
    pointer-events: unset;
}

.modal__container_3 {
    width: 50%;
    background-color: var(--blanco-rosa);
    max-height: 90%;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    border: 1px solid var(--first-color);
    text-align: center;
    overflow-y: scroll;
}

.interest_other_item {
    text-decoration: none;
    outline: none;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    margin: 0 1em 1em 0;
    padding: 0.5em;
    color: black;
    background-color: white;
}

.interest_item_sel_other {
    background-color: var(--first-color);
    color: white;
}

/* gral modales */
.btn_close_gral {
    position: absolute;
    right: 27%;
    top: 6%;
    z-index: 4;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


