<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    rel="stylesheet" />
  <link rel="stylesheet" href="../css/authStyle.css">

  <script defer src="../js/init/initRegister.js" type="module"></script>
</head>

<body id="body-pd">
  <header>
    <div>
      <img src="../img/globo-blanco.png" alt="logo">
    </div>
    <div>
      <p>AppCitas</p>
      <span class="color">Comenzemos a crear su cuenta</span>
    </div>
  </header>
  <section class="section-main">
    <div class="body-main">
    <div class="steps">
      <div class="step" style="border: 3px solid #8d2ce2;">
        <h2>Paso 1</h2>
        <p>Registro</p>
      </div>
      <div class="lines"></div>
      <div class="step">
        <h2>Paso 2</h2>
        <p>Perfil</p>
      </div>
      <div class="lines"></div>
      <div class="step">
        <h2>Paso 3</h2>
        <p>Fotos</p> 
      </div>
      <div class="lines"></div>
      <div class="step">
        <h2>Paso 4</h2>
        <p>Gustos</p> 
      </div>
    </div>
    <div class="form-container">
      <form id="formAuth" >
        <div class="inputContainer">
          <h4>Correo Electrónico</h4>
          <div id="input-container">
            <input type="mail" id="inputMail" placeholder="email" value="">
          </div>
          <p id="errorMail"></p>
        </div>
        <div class="inputContainer">
          <h4>Contraseña</h4>
          <div id="input-container">
            <input type="password" id="inputPassword" placeholder="password" value="" >
            <span class="material-symbols-outlined icon_password" title="inputPassword">visibility_off</span>
          </div>
          <p id="errorPassword"></p>
        </div>
        <div class="inputContainer">
          <h4>Repetir Contraseña</h4>
          <div id="input-container">
            <input type="password" id="inputPassword2" placeholder="password" value="">
            <span class="material-symbols-outlined icon_password" title="inputPassword2">visibility_off</span>
          </div>
          <p id="errorPassword2"></p>
        </div>
        <button id="buttonSubmit" type="submit">Registrarse</button>
      </form>
      <div class="format">
        <p>Su contraseña deberá cumplir son:</p>
        <ul>
          <li>
            <p>Una longitud minima de 8 caracteres</p>
          </li>
          <li>
            <p>Tener un carácter alfabético en mayúscula</p>
          </li>
          <li>
            <p>Tener un carácter numero</p>
          </li>
          <li>
            <p>De contener un carácter no alfabético</p>
          </li>
          <li>
            <p>No poseer espacios en blanco</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </section>
</body>

</html>