<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <script defer type="module" src="../js/init/initNavbar.js"></script>
    <script defer type="module" src="\js\init\initChat.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/chatStyle.css">
    <link rel="stylesheet" href="../css/navbar.css">

    <script src="https://cdn.jsdelivr.net/npm/@microsoft/signalr@latest/dist/browser/signalr.min.js"></script>

</head>

<body id="body-pd" class="div_grande">
    <div id="navbar">
    </div>
    <div class="chat">
        <div class="chat-container">
            <div class="list-people">
                <div id="chats-friend" class="list-chat">
                    <div class="div-loader">
                        <div class="spinner-border text-dark" role="status" >
                           <span class="sr-only"></span>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="list-messages">
                <div id="chat-header2" class="chat-header2">
                </div>
                <div id="chat-body" class="chat-body">
                    <div class="div-temporal"></div>
                </div>
                <div class="chat-input">
                    <input type="text" id="txt-Message" class="input-chat" placeholder="Escriba su mensaje">
                    <button id="btnSend" class="btn-c"><span class="material-symbols-outlined">send</span></button>                          
                </div>
            </div>
        </div>
    </div>

</body>
</html>