<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link rel="stylesheet" href="../css/loginStyle.css">
	</head>

	<body>
		<main>

			<h1>Login</h1>

			<form id="loginForm">

				<div>
					<label for="email">Email</label><br>
					<input type="text" id="email" name="email" placeholder="email" value="">
				</div>
				<div>
					<label for="password">Contraseña</label><br>
					<input type="text" id="password" name="password" placeholder="password" value="">
				</div>
				
				<button type="submit" id="loginBtn">Iniciar sesión</button>

				<p>¿No tenes cuenta?<a href="">Entra aquí</a></p>

			</form>
		</main>

		<footer>

		</footer>

		<script type="module" src="../js/initLogin.js"></script>

	</body>
</html>