<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro Perfil Usuario</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
        <link rel="stylesheet" href="../css/photoStyle.css">
		<link rel="stylesheet" href="../css/authStyle.css">
</head>
	<body id="body-pd">
		<header>
			<div>			  
				<img src="../img/globo-blanco.png" alt="logo">
			</div>
			<div>		  
				<p>AppCitas</p>		  
				<br>
				<span class="color">Agreguemos algunas fotos</span>
			</div>
		</header>
		<section class="section-main1">
			<div class="body-main1">
				<div class="steps">
					<div class="step" style="border: 3px solid #8d2ce2;">
					  <h2>Paso 1</h2>
					  <p>Registro</p>
					</div>
					<div class="lines"  style="border: thin solid #8d2ce2; background-color: #8d2ce2;"></div>
					<div class="step" style="border: 3px solid #8d2ce2;">
					  <h2>Paso 2</h2>
					  <p>Perfil</p>
					</div>
					<div class="lines" style="border: thin solid #8d2ce2; background-color: #8d2ce2;" ></div>
					<div class="step" style="border: 3px solid #8d2ce2;">
					  <h2>Paso 3</h2>
					  <p>Fotos</p>
					</div>
					<div class="lines" ></div>
					<div class="step">
					  <h2>Paso 4</h2>
					  <p>Gustos</p>
					</div>
				</div>
				<section class="user__photos" id="photo_section">
		
				</section>
				<div class="footer">

					<div class="msj_container">
						<p id="resp_msj_photo">La foto esta siendo subida, espere unos segundos...</p>
					</div>
					<div class="botones">
							<button  id="buttonSubmit" type="submit" form="user-profile">Siguiente</button>
					</div>
				</div>
			</div>

		</section>
	<!-- Scripts -->
    <script type="module" src="../js/init/initPhotoRegister.js"></script>

	</body>

</html>