<!DOCTYPE html>
<html lang="es">

  <head>
		<meta charset="UTF-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pagina principal del usuario</title>
		<link rel="stylesheet" href="../css/userPageStyle.css">
	</head>

	<body>

		<header>
			<h1>App de citas</h1>
		</header>

	  <main>

			<section id="user">
				<div id="user__info">

				</div>
				

				<a href="EditUserPage.html">Icono para editar usuario</a>
			</section>

		</main>	

		<nav>

		</nav>

		<footer>

		</footer>

		<script type="module" src="../js/container/userPage.js"></script>

	</body>

</html>	